
@{
    ViewBag.Title = "Error Page";
}

<main class="px-3">
    <h1 class="sign-up-text blue-text">Something Went Wrong</h1>
    <hr />
    <p class="lead">
        Please, try again later
    </p>
</main>

