@{
    ViewData["Title"] = "Home Page";
}

<main class="px-3">
    <h1 class="home-text blue-text">Smart Parking</h1>
    <p class="lead">
        Welcome to our innovative product!
        <br>Easy and time-saving way to search and book desired parking spot online
    </p>
    <p class="lead">
        <a href="https://smartparkingteam.github.io/" target="_blank" class="learn-more fw-bold">Learn more</a>
    </p>
</main>