
@{
    ViewBag.Title = "Log Out";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="px-3">
    <h1 class="sign-up-text blue-text">Logged Out</h1>
    <hr />
    <p class="lead">
        Thanks for using our product!
    </p>
</main>
